
// ROOT VARIABLES
:root {
  --color_white: #fff;
  --color_black: #000;
  --mainback: #fff;
  --color_primary: #007AFF;
  --color_secondary: #FF2D55;
  --color_tertiary: #FF9500;
  --color_divider: #dddddd;
}

// ADD FONTS
@import "fonts.scss";


// BOOTSTRAP OVERRIDES
$theme-colors: (
  "primary": #007AFF,
  "secondary": #FF2D55,
  "info": #FF9500
);

$font-family-sans-serif: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$border-radius:               1rem !default;
$border-radius-sm:            .6rem !default;
$border-radius-lg:            .5rem !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

// BOOTSTRAP IMPORT
@import "~bootstrap/scss/bootstrap";




// BOOTSTRAP TWEAKS

.btn-info {
  color: var(--color_white);
}




// GLOBAL

html, body {
  height: 100%;
}
body {
  background: #EEF5FB url("/cauda_back.jpg") no-repeat top center fixed;
  background-size: cover !important;
}
#__next {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 768px;
  padding: 0 10px;
}
main {
  flex: 1;
}

// https://github.com/react-bootstrap/react-bootstrap/issues/5081
.dropdown-menu {
  margin: 0 !important
}


// GLOBAL COMPONENTS

.cauda_card {
  max-width: 420px;
  background: none;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 
              0 2px 4px 0 rgba(0, 0, 0, 0.1), 
              inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(50%) blur(20px);
}
.card-header {
  background: none;
  font-size: 1rem;
  border-bottom: 1px solid var(--color_divider);
}

.cauda_title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}




// SCAN

.cauda_scan {
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}



// SHOP CARD

.cauda_shop {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 420px;
}
.shop_map {
  border-bottom: 1px solid var(--color_divider);
  min-height: 50px;
}
.list-group {
  font-size: 0.8rem;
}
.list-group-item {
  border: none;
  padding: 0.35rem 1.25rem;
}
