// ROOT VARIABLES
:root {
  --color_white: #fff;
  --color_black: #000;
  --mainback: #fff;
  --color_primary: #007aff;
  --color_secondary: #ff2d55;
  --color_tertiary: #ff9500;
  --color_divider: #dddddd;
  --color_gray: #EEEEEE;
  --app_maxwidth: 420px;
}

// ADD FONTS
@import 'fonts.scss';

// BOOTSTRAP OVERRIDES
$theme-colors: (
  'primary': #007aff,
  'secondary': #ff2d55,
  'info': #ff9500,
  'light': #bf5af2,
);

$font-family-sans-serif: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$border-radius: 1rem;
$border-radius-sm: 0.6rem;
$border-radius-lg: 0.5rem;

$btn-border-radius: 0.8rem;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $border-radius-lg;

// BOOTSTRAP IMPORT
@import '~bootstrap/scss/bootstrap';

// BOOTSTRAP TWEAKS

.btn-info {
  color: var(--color_white);
}

// GLOBAL

html,
body {
  height: 100%;
}
body {
  background: #eef5fb url('/cauda_back.jpg') no-repeat top center fixed;
  background-size: cover !important;
}
#__next {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 768px;
  padding: 0;
}
main {
  flex: 1;
  padding: 0 5px;
}

.bg_gray {
  background: var(--color_gray);
}

.input-group > .form-control {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.input-group-lg > .form-control {
  border-top-right-radius: $border-radius-lg !important;
  border-bottom-right-radius: $border-radius-lg !important;
}
.geosuggest__input.form-control {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.my_turns {
  .card-header {
    border: none;
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 1.3rem;
  }
  .card-body {
    padding: 1.2rem 1rem !important;
  }
  ul {
    margin-bottom: 0;
    li:last-child .btn {
      margin-bottom: 0 !important;
    }
  }
  .btn {
    margin-bottom: 1rem;
    padding: 1.25rem 0.4rem 1.25rem 1.1rem !important;
    color: var(--color_black);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .primary {
      text-align: left;
      line-height: 1.2;
    }
    .secondary {
      line-height: 1;
      font-size: 2.6rem;
      color: var(--success);
      white-space: nowrap;
      text-align: right;
      svg {
        margin-left: 3px;
        color: var(--color_black);
        opacity: 0.2;
      }
    }
    &:hover {
      color: var(--color_white) !important;
      .secondary {
        color: var(--color_white) !important;
      }
    }
  }
}

// https://github.com/react-bootstrap/react-bootstrap/issues/5081
.dropdown-menu {
  margin: 0 !important;
}

// GLOBAL COMPONENTS

.cauda_card {
  width: 100%;
  max-width: var(--app_maxwidth);
  background: none;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(50%) blur(20px);
  overflow: hidden;
  svg {
    max-width: 16px;
  }
}
.cauda_card--clean {
  box-shadow: none !important;
  background: none !important;
  backdrop-filter: none !important;
}
.cauda_card .card-body {
  padding: 0.9rem;
}
.card-header {
  background: none;
  font-size: 1rem;
  border-bottom: 1px solid var(--color_divider);
}
.cauda_title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.cauda_card.inactive {
  background-color: transparent !important;
  box-shadow: none;
  backdrop-filter: none;

  .primary {
    opacity: 0.7;
  }

  .btn {
    .secondary {
      color: var(--color_black);
      opacity: 0.2;
    }
  }
}

// SCAN

.cauda_scan {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  overflow: hidden;
  .card-body {
    border-radius: 10px;
    overflow: hidden;
  }
}
.scanning_bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateY(400px);
  animation-duration: 2s;
  animation-name: scanning;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scanning {
  from {
    transform: translateY(340px);
  }
  to {
    transform: translateY(0);
  }
}

// SHOP CARD

.cauda_shop {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 420px;
}
.cauda_shop .card-body {
  padding: 1rem 0.5rem 0.5rem;
}
.shop_map {
  border-bottom: 1px solid var(--color_divider);
  min-height: 50px;
}
.list-group {
  font-size: 0.8rem;
}
.list-group-item {
  border: none;
  padding: 0.35rem 1.25rem;
  svg {
    opacity: 0.5;
  }
}





// MY TURN

.myturn__number {
  margin-bottom: 5px;
  line-height: 1;
  font-weight: 900;
  overflow: hidden;
  color: var(--color_primary);
}
.myturn__qrcode {
  border: 2px solid var(--color_primary);
  max-width: 200px;
  text-align: center;
}

// MY TURNS

.home_nav {
  .col-auto {
    padding: 2px;
  }
  .btn {
    font-size: 0.78rem;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }
}
